<div class="container">
    <h3>About This Angular App:</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quidem,
      deserunt sapiente quisquam, sint excepturi repellat soluta natus explicabo
      saepe fuga ab nihil exercitationem placeat officiis facilis molestias! Harum
      omnis, cumque consectetur, officiis expedita quibusdam doloremque ut ratione
      commodi similique dolores fugit voluptatum accusantium nam nisi enim nemo
      culpa laboriosam rerum mollitia animi repellendus magni provident assumenda.
      Omnis nihil, ipsum id mollitia vel aliquam magnam corrupti perferendis,
      vitae quasi dolore deserunt soluta accusantium esse non, saepe amet!
      Repellat cupiditate nobis fugit magni velit unde et debitis iure corrupti?
      Aut eaque, ducimus esse soluta veniam laborum deserunt rem impedit similique
      error eveniet inventore doloribus reiciendis, mollitia ipsa ipsum libero
      delectus exercitationem consequuntur voluptas ea molestias nihil voluptates
      animi. Magni, impedit tempora doloribus sunt quasi libero? Earum tempora
      recusandae laborum ab maxime, corrupti temporibus dolores voluptate suscipit
      consequuntur modi saepe nemo magnam, porro maiores possimus, labore
      mollitia. Numquam, rerum consectetur explicabo corporis incidunt accusantium
      facere nostrum cupiditate, sit quod unde accusamus placeat atque eveniet
      architecto. Suscipit reprehenderit consequuntur laboriosam at, provident
      dolorum vero eius eligendi odio temporibus nostrum culpa, odit ea placeat
      qui eum neque numquam, nobis repudiandae assumenda? Dolore explicabo ab
      adipisci ad animi reprehenderit expedita sed sit placeat perferendis
      cupiditate tempore, quisquam hic vitae esse, consequatur quia ipsum culpa
      labore molestiae ipsam. Facilis ipsam eaque amet laborum dicta eius illum
      odit placeat quae expedita corporis hic deserunt, quisquam officia illo
      tempore velit cum rem eligendi, a explicabo. Animi sit unde explicabo nemo
      magnam praesentium quisquam minima exercitationem consectetur aut a,
      delectus nihil alias placeat esse odit fugit laborum sunt, tenetur modi nisi
      culpa? Veritatis laboriosam velit consequuntur quidem, reprehenderit qui
      earum expedita incidunt beatae eaque corporis vero nulla accusantium
      nesciunt, pariatur ratione inventore suscipit, amet consequatur natus odio
      tenetur. Nihil laborum voluptas quas neque. Hic in officia magni
      perspiciatis quod aperiam error autem itaque repellendus blanditiis sequi
      quo, pariatur sint corrupti molestiae? Ratione nam hic perferendis dolore.
      Ipsum, officiis, eos ipsam pariatur iste voluptas eum aspernatur est quod
      nobis ut nisi exercitationem voluptates dignissimos laboriosam delectus
      accusamus animi placeat eaque dolorem. Aut nesciunt odio ab amet incidunt
      eum, deleniti natus provident dicta vel, pariatur expedita vero et! Iusto,
      temporibus sunt quasi animi, culpa placeat optio voluptas a ut fugiat
      reprehenderit labore tempora. Expedita enim qui debitis nulla soluta
      incidunt, eaque dignissimos, totam consequatur, esse quas sequi! Officia eum
      autem consectetur culpa error repellat corporis optio commodi consequatur
      laudantium modi obcaecati in temporibus, ipsam nulla incidunt tempora.
      Voluptates molestiae quo aut deserunt? Tempore aliquam illum ex qui,
      dignissimos incidunt veniam dolor doloremque reprehenderit quo dolorum,
      veritatis voluptates, beatae expedita ipsum eius est eum sed itaque
      cupiditate nostrum quod maxime possimus? Quis molestias ipsam dignissimos
      minus, qui esse cumque saepe officia ab totam veritatis corporis asperiores
      suscipit iusto iste nisi maxime nobis error fugit quia ad ullam voluptatem
      voluptatibus! Quas, est minima dolorum voluptatibus reiciendis asperiores
      ipsa nisi error quis maiores ab doloremque dolores rerum officiis ut! Esse
      recusandae delectus voluptate modi dolores dolore asperiores consequuntur,
      odit eveniet ex fuga exercitationem quisquam.
    </p>
  </div>
  